body {
    font-family: 'Roboto', sans-serif;
}

span {
    color: #147de1;
}

p {
    font-size: 12px;
    line-height: 2.8;
}

.green {
    color: green;
}

.italic {
    font-style: italic;
}

.suspaustas {
    line-height: 1.0;
}