header {
    background-color: #61b461;
    display: flex;
    justify-content: space-between;
}

.flexible a {
    display: flex;
    justify-content: space-between;

    color: #fff;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

.flexbox div:nth-child(2) {
    margin-inline: 20px;
}

.flexbox div:nth-child(odd) {
    background-color: #61b461;
}

body>.flexbox div:last-child {
    background-color: red;
}

.flexbox2 {
    display: flex;
    border: 3px solid #000;
    background-color: yellow;
    height: 800px;
    justify-content: space-between;
    align-items: center;
}

.flexbox2>p {
    width: 200px;
}

.flexbox2 :nth-child(1) {
    border: 5px dotted green;
    align-self: end;
    overflow-y: scroll;
    overflow-x: hidden;
}